* text=auto eol=lf

*.ipynb text eol=lf
*.json text eol=lf
*.lean text eol=lf
*.md text eol=lf
*.py text eol=lf
*.tex text eol=lf
*.toml text eol=lf
*.yml text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.webp binary
*.mp4 binary

verification/revision.json export-subst
